@import "global.scss";


/**header**/
.navbar-default {
    background-color: #fff;
    border-color: transparent;
    margin-bottom: 0;
}
.header-top {
    .container {
        .social-icons, .contacts-info {
            display: inline-block;
            .hiden {
                display: none;
            }
        }
        .contacts-info {
            li.xtra {
                img {
                    display: none;
                }
            }
        }
    }
    .social-icons {
        ul li {
            display: inline-block;
            a {
                font-size: 18px;
                padding: 0 10px;
            }
            &:first-child {
                padding-left: 0;
            }
        }   
    }
    .contacts-info {
        ul li {
            display: inline-block;
            position: relative;
            margin-right: 30px;

            img {
                margin-right: 10px;
            }
            &:first-child {
                /*            &::after , &::before {
                                display: none;
                            }*/
                &::after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    margin-top: -10px;
                    height: 18px;
                    width: 2px;
                    margin-right: -16px;
                    background: #ababab;
                }
                &::before {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    margin-top: -10px;
                    height: 18px;
                    width: 2px;
                    margin-right: -20px;
                    background: #ababab;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        float: right;
        margin-top: 4px;
    }
    padding: 4px 0;
    border-bottom: 2px solid rgba(229,229,229,0.8);
    background: #f8f8f8;
}
.header-top { 
    a {
        color: #ababab;    
    }
}
.navbar-default .navbar-nav>li>a {
    padding: 30px 15px;
}
.navbar-right.phone {
    li {
        padding: 15px 0 15px 15px;
        border-left: 2px solid #dddddd;
        height: 100%;
        h4 {
            color: #ababab;
            font-size: 16px;
        }
        h3 a {
            font-size: 18px;
            color: $primary-color;
        }
    }
}
.header {
    a:hover {
        color: $primary-color !important;
    }
}
.dropdown-menu>li>a {
    padding: 8px 20px;
}

/**banner**/
.banner {
    background: url(../images/banner.jpg) no-repeat; 
    height: 660px;
    background-size: cover !important;
    h1.text {
        margin-top: 225px;
    }
}
/**about**/
.about {
    background: #f6f6f6;
}


/**about**/
.service-item {
    background: #f6f6f6;
}
.item-content {
    padding: 30px 0;
    a.btn-custom1 {
        margin-right: 20px;
        margin-top: 30px;   
    }
}


/**about**/
.service .item-pic {
    overflow: hidden;
}
.slick-next {
    right: 0;
}
.slick-prev {
    left: unset;
    right: 37px;
}
.slick-prev, .slick-next {
    top: -15%;
    background: transparent;
    height: auto;
    width: auto;
}
.testimonial-slider {
    .slick-prev, .slick-next {
        top: -25%;        
    }
}

/**choose**/
.choose {
    ul     {
        display: flex;
        justify-content: space-around;
        li {
            i {
                font-size: 34px;
                color: #fff;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                line-height: 70px;
                text-align: center;
                border: 6px solid rgba(56, 56, 56, 0.4);
                margin-bottom: 28px;
            }
            h4 {
                font-size: 24px;
                color: #fff;
                font-family: $font-stack-1;
                font-weight: 300;
            }
            text-align: center;
        }
    }
    background: url(assets/images/why-choose.jpg);
}

/**fleets**/
.fleet-item {
    .fleet-img {
        height: 100px;
        text-align: center;
        overflow: hidden; 
        img {
            width: 100%;    
        }
    }
    h3 {
        font-family: $font-stack-1;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    article {
        padding: 0 5%;
        min-height: 120px;
        line-height: 1.5;
        font-size: 14px;
    }
    .car-details {
        background: #fff;
        span {
            display: block;
            color: #1a1a1a;
            font-size: 14px;
            padding: 5px 0;
        }
        .row .col-xs-6:first-child {
            border-right: 1px solid $primary-color; 
        }
    }    
    text-align: center; 
    background: #f6f6f6;
    padding-top: 20px;
    box-shadow: 0px 0 7px 0px #b9b9b9;
}
.item-wrap {
    padding: 10px 40px;
}


/**breakk**/
.book-xtra {
    padding: 40px 0;
    article {
        color: #fff;
        font-size: 28px;
        display: inline-block;
        text-transform: uppercase;
    }
}
/**testimonial**/
.testimonials {
    .media {
        .media-left {
            border: 3px solid #dedede;
            border-radius: 50%;
            overflow: hidden;
            padding: 0;
        }  
        .media-body {
            padding-left: 20px;
            .media-heading {
                font-size: 18px;
                color: #000;
                font-weight: 400;
                font-family: lkjj;
                margin-bottom: 0;
                text-transform: uppercase;
                margin-top: 30px;
            }
            span {
                color: #898989;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        font-family: $font-stack-1;
    }
}

.footer {
    background: #2e2e2e;
    .footer-link {
        padding: 50px 20px;
    }    
    .footer-item {
        h4 {
            font-size: 18px;
            font-weight: 500;
            font-family: $font-stack-1;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
        ul li {
            font-size: 14px;
            span {
                width: 25px;
                color: #65ae7f;
                display: inline-block;
            }
        }
        ul.icons {
            li {
                display: inline-block;
                margin-right: 8px;
            }
            margin-top: 20px;
        }
        &.xtra {
            padding-left: 40px;
        }
    }
    a {
        color: #fff;
        &:hover {
            color: $primary-color;
        }
    }
    > article {
        font-size: 14px;
        padding: 20px 0;
        border-top: 1px solid #757575;
    }
    color: #fff;
}

/******innner page ********/
.banner-inner {
    height: 350px;
    background-size: cover !important;
    h1.text {
        padding: 10px 25px;
        font-size: 36px;
        margin-top: 130px;
    }
}
.service-content {
    article {
        margin-bottom: 15px;
    }
    .btn-custom1 {
        margin-right: 10px;
    }
}
.content {
    background: #f5f5f5;
}

/******fleet page******/
.fleet-inner {
    .tertiary-title {
        margin-bottom: 15px;
    }
    h5 {
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 16px;
        font-family: $font-stack-1;
    }
    article {
        margin-bottom: 20px;
    }
    ul li {
        i {
            color: $primary-color;
        }
    }
    .btn-custom1 {
        margin-top: 20px;
    }
    figure {
        img {
            height: 280px;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #dadada;
    margin-bottom: 40px;
} 

/****** pricing ******/
td, th {
    border: 1px solid #ccc;
    padding: 6px 10px;
    width: 20%;
}
.price {
    table {
        thead {
            background: $primary-color;
            color: #fff;
        }
        width: 100%;
    }
    .container > .service-content {
        margin-bottom: 30px;
    }
    ul.price-list li {
        &:first-child {
            color: $primary-color;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 500;
        }
        i {
            margin-right: 5px;
        }
    }
}
/*****from*****/
.form-wrap {
    background: #ececec;
    padding: 20px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 6px #ccc;
    > h5 {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
    > h4 {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 600;
        color: $primary-color;
    }
}
.contact-form {
    >h4 {
        margin-bottom: 40px;
    }
}
.contacts-detail {
    h4 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
    }
    ul {
        li {
            i {
                font-size: 20px;
                padding: 5px;
                height: 40px;
                width: 40px;
                border: 1px solid;
                margin-right: 5px;
                line-height: 1.5;
                text-align: center;
                border-radius: 50%;
            }
        }
        margin-top: 20px;
    }
    img {
        margin-top: 10px;
    }
    .map {
        iframe {
            height: 250px;
            width: 100%;
            border: 1px solid #ccc;
        }
    }
    .social-contact {
        li {
            margin-bottom: 10px;
        }
    }
}
.service-inner {
    .content-img {
        overflow: hidden;
        display: block;
    }
}

/*****responsive*******/
@media (max-width: 1199px){
    .navbar-right.phone li h4 {
        font-size: 14px;
    }
    .navbar-right.phone li h3 a {
        font-size: 15px;
    }
    .item-wrap {
        padding: 10px 20px;
    }
}
@media (max-width: 991px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .header-top .container .social-icons .hiden, .header-top .container .contacts-info .hiden {
        display: inline-block;
    }
    .social-icons ul li a {
        font-size: 15px;
        padding: 0 4px;
    }
    .contacts-info ul li {
        margin-right: 10px;
        font-size: 14px;
    }

    .contacts-info {
        margin-top: 0;
    }
    .navbar-right.phone li {
        display: none;
    }
    .navbar-nav > li {
        display: inline-block;
    }
    .navbar-default .navbar-brand {
        img {
            height: 30px;
        }
    }
    .contacts-info ul li {
        &:last-child {
            &::after , &::before {
                display: none;
            }
        }
        &:first-child {
            &::after {
                margin-right: -6px;
            }
            &::before {
                margin-right: -10px;
            }
        }
        &::after {
            position: absolute;
            content: '';
            right: 0;
            top: 50%;
            margin-top: -10px;
            height: 18px;
            width: 2px;
            margin-right: -6px;
            background: #ababab;
        }
        &::before {
            position: absolute;
            content: '';
            right: 0;
            top: 50%;
            margin-top: -10px;
            height: 18px;
            width: 2px;
            margin-right: -10px;
            background: #ababab;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .navbar-nav {
        margin-top: 0;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 15px;
    }
    .banner {
        height: 530px;
    }
    .banner h1.text,  .banner-inner h1.text {
        margin-top: 150px;
        font-size: 35px;
    }
    .banner-inner {
        background-position: 65% 0%!important;
    }
    .service {
        .slick-prev, .slick-next {
            top: -7%;
        }
    }
    .service .item-pic {
        img {
            width: 100%;
        }
    }
    .section {
        padding: 50px 0 40px;
    }
    .footer .footer-item.xtra {
        padding-left: 0; 
    }
    .fleet-inner figure img {
        height: 210px;
    }
    .header-top .contacts-info ul li {
        margin-right: 20px;
    }
    .header-top .social-icons ul li a {
        font-size: 15px;
    }
    .header-top .social-icons ul li a {
        padding: 0 5px;
    }
    .header-top .contacts-info {
        margin-top: 0;
    }
    .header-top .contacts-info ul li img {
        height: 14px;
    }
    .header-top .contacts-info ul li {
        margin-right: 10px;
    }
    .header-top .contacts-info ul li:first-child::after {
        margin-right: -6px;
    }
    .header-top .contacts-info ul li:first-child::before {
        margin-right: -10px;

    }
    .contact-item {
        margin-bottom: 20px;
    }

}
@media (max-width: 767px) {
    .service-inner .content-img {
        margin-top: 20px;
        img {
            width: 100%;
        }
    }
    .social-icons {
        display: none !important;
    }
    .contacts-info {
        float: none; 
    }
    .footer {
        .col-xs-6 {
            width: 50%;
            margin-bottom: 30px;
        }
    }
    .choose ul li h4 {
        font-size: 22px;
    }
    .banner {
        height: 450px;
    }
    .banner h1.text,  .banner-inner h1.text,  .banner-inner h1.text {
        margin-top: 120px;
    }
    .navbar-nav > li {
        display: block;
    }
    .pad-5-right {
        margin-bottom: 15px;
    }
    .contact-form {
        padding: 0 10%;
    }
    .fleet-inner:nth-child(odd) > .row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .fleet-inner:nth-child(odd) > .row > div[class*="col-sm"]:nth-child(2n){
        order: -1;
    }

}
@media (max-width: 640px) {
    .book-xtra article {
        font-size: 24px;
    }
    .banner {
        height: 500px;
    }
    h1.text i {
        display: none;
    }
    .banner h1.text,  .banner-inner h1.text,  .banner-inner h1.text {
        margin-top: 200px;
        width: 100%;
        text-align: center;
    }
    body {
        font-size: 15px;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        font-size: 15px;
        padding: 8px 15px 8px 25px;
    } 
    .serve-title h3 {
        font-size: 19px;
    }
    .service-item {
        background: #ffffff;
    }
    .serve-title {
        background: #f1f1f1;
    }
}
@media (max-width: 480px) {
    .fleet-item .fleet-img {
        height: 120px;
        margin-bottom: 20px;
    }
    .banner h1.text,  .banner-inner h1.text {
        margin-top: 150px;
        font-size: 25px;
        line-height: 1.5;
        padding: 10px;
    }
    .item-content a.btn-custom1 {
        margin-right: 10px;
    }
    .book-xtra {
        .pull-right {
            float: none !important;
            margin-top: 10px;
        }
        text-align: center;
    }
    .banner {
        height: 450px;
    }
    .prime-title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .choose {
        background-size: cover !important;
        ul {
            display: block;
            li {
                margin-bottom: 20px;
            }
        }
    }
    .slick-prev, .slick-next {
        top: -8%;
    }
    .testimonial-slider .slick-prev, .testimonial-slider .slick-next {
        top: -15%
    }
    .contacts-info ul li img {
        margin-right: 7px;
        height: 14px;
    }
    .footer .col-xs-6 {
        width: 100%;
        &:last-child {
            margin-bottom: 0;
        }
        h4 {
            margin-bottom: 15px;
        }
    }
    .footer .footer-link {
        padding: 40px 20px;
    }
    .contact-form {
        padding: 0;
    }
    .contacts-detail .col-xs-6 {
        width: 100%;
    }


}
@media (max-width: 380px) {
    .item-wrap {
        padding: 10px 0;
    }
    .fleet-item .fleet-img {
        margin-bottom: 20px; 
    }
    .icons-center {
        /*text-align: center;*/
        ul li a {
            font-size: 22px;
        }
    }
    .header-top .container .contacts-info li.xtra img {
        display: inline-block;
    }
    .header-top .container .contacts-info li {
        i {
            width: 27px;
            font-size: 20px;
            color: #ababab;
            margin-left: 10px;
        }
    }
    .header-top .contacts-info ul li::before, .header-top .contacts-info ul li::after {
        display: none;
    }
    .contacts-info {
        padding: 0 10px; 
    }
}
@media (max-width: 320px) {
    .fleet-inner figure img {
        height: 155px;
    }
}

.section-contact{
    padding-top: 10px;
}

