/*--------------------------------- Dashboard CSS -------------------------------------*/
.title{
    font-size: 20px;
    margin-bottom: 10px;
}
.cstm-modal .modal-body {
    padding: 0;
}
.cstm-modal .modal-body label {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2px;
}
.cstm-modal .modal-body  h2{
    padding: 6px 0;
    color: #666;
    margin-bottom: 15px;
    border-bottom: 2px solid #2EB460;
    display: inline-block;
}

.cstm-modal .close {
    color: #f0f0f0;
    z-index: 999;
    position: relative;
    right: 0;
    width: 59px;
    height: 59px;
    background: #3e6ae9;
    opacity: 0.6;
}
input[type=checkbox],
input[type=radio] {
    margin: 0; 
}
.cstm-modal .close:hover {
    opacity: 0.8;
}

.cstm-modal form > p > strong {
    font-weight: 500;
}

.cstm-modal .modal-dialog {
    width: 400px;
}

.inr-form {
    width: 100%;
    min-height: 50px;
    padding: 15px;
    color: #666;
    background: #f9f9f9;
}
.inr-form form {
    margin-bottom: 0;
}
.inr-form form input[type=file] {
    display: block;
    font-weight: 300;
    font-size: 14px;
}

.inr-form form input[type=file]:focus {
    outline: none;
}

.inr-wpr .fp-why {
    border-bottom: none;
}

.inr-wpr .cstm-chkbx label {
    font-size: 14px;
    border: none;
}

.inr-wpr .cstm-chkbx label a {
    color: #2EB460;
    -moz-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
}

.inr-wpr .cstm-chkbx label a:hover {
    text-decoration: underline;
    -moz-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
}

body.dshbd {
    background: url(../images/dshbd-bg.png) repeat top;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 65px;
}

header {
    height: 100px;
    background: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 5px -3px rgba(0,0,0,0.5);
}
.dshbd-hdr{
    /*    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    justify-content: space-between;
    align-items: center;*/
}
.dshbd-hdr .navigation{
    min-height: 100px;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.dshbd-hdr .navigation .navbar{
    min-height: 10px;
}
.dshbd-hdr .navigation .navbar-default{
    margin-bottom: 0;
    background: transparent;
    border: none;
}
.dshbd-hdr .navigation .navbar-default .navbar-collapse{
    text-align: center;
    background: #fafafa;
}
.dshbd-hdr .navigation .navbar-default .navbar-nav{
    display: inline-block;
    vertical-align: top;
    float: none;
}
.dshbd-hdr .navigation .navbar-default .navbar-nav li {
    letter-spacing: 0.8px;
    /*border-bottom: 1px dotted #d9d9d9;*/
}

.dshbd-hdr .navigation .navbar-default .navbar-nav li.active a {
    color: #2EB460;
    background: transparent;
}

.dshbd-hdr .navigation .navbar-default .navbar-nav li:hover a {
    color: #2EB460;
}

.dshbd-hdr .navigation .navbar-default .navbar-nav li a {
    line-height: 2.3;
    color: #666;
    /*color: lighten($black, 94.1%);*/
    padding: 0 30px;
    font-weight: 300;
     font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.dshbd-hdr-logo {
    margin-top: -15px;
}

.dshbd-hdr-logo #cd-logo {
    margin: 8px 0 8px 30px;
    float:none;
}
.dshbd-hdr-logo #cd-logo img {
    width: 75%;
}

.dshbd-nav #cd-menu-trigger {
    background: #2EB460;
    left: 0;
}

.dshbd-nav #cd-menu-trigger .cd-menu-icon {
    right: 45px;
}
.dshbd-nav #cd-top-nav {
    right: 10px;
    margin-top: 15px;
}

.dshbd-nav #cd-top-nav ul li:hover a {
    color: #2EB460;
    -moz-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    transition: linear 0.2s;
}

.dshbd-nav #cd-top-nav ul li a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #666;
    text-transform: capitalize;
    -moz-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    transition: linear 0.2s;
}

.dshbd-nav #cd-top-nav ul li a .fa {
    color: #2EB460;
    margin-right: 5px;
}

.dshbd-drawer-nav #cd-lateral-nav {
    background: #f6f6f6;
    left: 0;
    -webkit-box-shadow: 3px 0px 5px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 0px 5px -3px rgba(0,0,0,0.5);
    box-shadow: 3px 0px 5px -3px rgba(0,0,0,0.5);
}

.dshbd-drawer-nav #cd-lateral-nav ul {
    margin: 0 5px 0 10px;
}

.dshbd-drawer-nav #cd-lateral-nav ul li {
    letter-spacing: 0.5px;
    border-bottom: 1px dotted #d9d9d9;
    font-family: 'Lato', sans-serif;
}

.dshbd-drawer-nav #cd-lateral-nav ul li.active a {
    color: #2EB460;
}

.dshbd-drawer-nav #cd-lateral-nav ul li:hover a {
    color: #2EB460;
}

.dshbd-drawer-nav #cd-lateral-nav ul li a {
    line-height: 2.3;
    color: #666;
    /*color: lighten($black, 94.1%);*/
    padding: 5px 15px;
    font-weight: 300;
}

.dshbd-drawer-profile-img h2 {
    color: #2EB460;
    font-size: 25px;
    padding: 15px 0 15px 25px;
    margin-bottom: 15px;
    /*border-top: 1px solid #f0f0f0;*/
    border-bottom: 2px solid #2EB460;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
}

.dshbd-ft-end {
    min-height: 60px;
    color: #333;
    background: #fff;
    padding: 15px 30px;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dshbd-ft-end .ft-copy p {
    margin-bottom: 0;
}

.dshbd-ft-end .ft-copy p span {
    color: #2EB460;
}

.dshbd-ft-end .ft-social {
    text-align: center;
    margin: 0;
}

.dshbd-ft-end .ft-social li {
    padding: 0 2px;
}

.dshbd-ft-end .ft-social li .fa {
    width: 35px;
    height: 35px;
    padding: 9px 0;
    color: #fff;
    background: #2EB460;
    font-size: 18px;
    border-radius: 100%;
    -moz-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    transition: linear 0.2s;
}

.dshbd-ft-end .ft-social li:hover .fa {
    background:#3e6ae9;
    -moz-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    -webkit-transition: linear 0.2s;
    transition: linear 0.2s;
}

/*------------------------------ Dashboard Template --------------------------------*/
.dshbd-wpr .fp-title h3 {
    font-weight: 500;
    text-align: left;
}

.dshbd-title {
    margin: 25px 0 65px;
}

.dshbd-title h1 {
    font-size: 30px;
    letter-spacing: 0.75px;
    font-weight: 500;
    border-bottom: 2px solid #2EB460;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.dshbd-title h1 span {
    color: #2EB460;
    font-size: 24px;
    font-weight: 400;
}

.dshbd-title h1 span:before {
    content: "|";
    display: inline-block;
    color: #2EB460;
    font-size: 30px;
    margin: 0 5px;
}

.dshbd-content {
    width: 100%;
    min-height: 180px;
    background: #f9f9f9;
    padding: 30px 15px;
    border-radius: 2px;
}

.dshbd-profile-img {
    width: 190px;
    min-height: 90px;
    background: #f9f9f9;
    margin: 0 auto 10px;
}

.dshbd-profile-img figure {
    border: 2px solid #ccc;
    padding: 1px;
    border-radius: 5px;
}

.dshbd-edit-profle {
    text-align: center;
}

.dshbd-profile-detail {
    text-align: left;
}

.dshbd-profile-detail ul li {
    width: 30%;
    color: #666;
    overflow: hidden;
    border-bottom: 1px dotted #d9d9d9;
    padding: 0;
    margin-bottom: 5px;
}

.dshbd-profile-detail ul li i.fa {
    width: 20px;
    color: #2EB460;
    margin-right: 2px;
}

.dshbd-profile-detail ul li p {
    padding: 6px 0;
    white-space: nowrap;
    position: relative;
}

.dshbd-profile-detail ul li p:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    /*                    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%;*/
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, transparent), color-stop(85%, #f9f9f9), color-stop(100%, #f9f9f9));
    background-image: -moz-linear-gradient(left, transparent 0%, #f9f9f9 85%, #f9f9f9 100%);
    background-image: -webkit-linear-gradient(left, transparent 0%, #f9f9f9 85%, #f9f9f9 100%);
    background-image: linear-gradient(to right, transparent 0%, #f9f9f9 85%, #f9f9f9 100%);
    pointer-events: none;
}

.dshbd-payment-remarks > li {
    width: 100% !important;
    overflow: visible;
    border-bottom: none !important;
    padding: 0;
    margin-bottom: 5px;
}

.dshbd-payment-remarks > li p {
    white-space: pre-wrap !important;
    line-height: 20px !important;
}

.dshbd-payment-remarks > li p:after {
    background-image: none !important;
}

.dshbd-doc-detail {
    margin-top: 30px;
}

.dshbd-doc-detail h4 {
    color: #f0f0f0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.dshbd-doc-detail > .row {
    padding: 10px 0;
    border-bottom: 1px dotted #4d4d4d;
}

.dshbd-doc-detail > .row:last-child {
    border-bottom: none;
}

.dshbd-file-update {
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #f0f0f0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dshbd-file-update article p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.dshbd-file-update article span {
    color: #2EB460;
    font-size: 14px;
    font-weight: 500;
}

.dshbd-file-update article span:hover a, .dshbd-file-update article span:focus a {
    text-decoration: underline;
}

.dshbd-file-update .btn-custom {
    min-width: 130px;
    height: 40px;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 2px;
}

/*------------------------------ Modal View Vehicle Detail --------------------------------*/
.cstm-modal .modal.right {
    /*Right*/;
}

.cstm-modal .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 79%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.cstm-modal .modal.right .modal-header {
    text-transform: capitalize;
}

.cstm-modal .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #222222;
    border-radius: 0;
}

.cstm-modal .modal.right .modal-body {
    padding: 0;
}

.cstm-modal .modal.right.fade .modal-dialog {
    right: -79%;
    -webkit-transition: opacity 0.5s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.5s linear, right 0.3s ease-out;
    -o-transition: opacity 0.5s linear, right 0.3s ease-out;
    transition: opacity 0.5s linear, right 0.3s ease-out;
}

.cstm-modal .modal.right.fade.in .modal-dialog {
    right: 0;
}

.dshbd-vehicle-detail-title h3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.dshbd-vehicle-list {
    padding: 0 15px 30px;
    border-bottom: 1px dotted #2EB460;
    position: relative;
}

.dshbd-vehicle-list figure {
    margin-bottom: 5px;
    padding-bottom: 0;
    border-bottom: none;
}

.dshbd-vehicle-list figure img {
    width: 100%;
}

.dshbd-vehicle-list h4 {
    text-align: center;
    border-color: #999999;
}

.dshbd-vehicle-list .dshbd-vdetail-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 45px 45px 0;
    border-color: transparent #f0f0f0 transparent transparent;
}

.dshbd-vehicle-list .dshbd-vdetail-delete .fa {
    color: #333333;
    margin: 5px 0 0 26px;
}

.dshbd-vehicle-list .dshbd-vdetail-delete:hover {
    cursor: pointer;
}

.dshbd-vehicle-list .dshbd-vdetail-delete:hover .fa {
    color: #ff2328;
}

.dshbd-more-detail {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    color: #fff;
    text-decoration: underline;
    -moz-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
}

.dshbd-more-detail:hover, .dshbd-more-detail:focus {
    color: #2EB460;
    text-decoration: underline;
    -moz-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
}

.dshbd-vehicle-detail {
    color: #f0f0f0;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dshbd-vehicle-detail span {
    padding: 5px 0;
}

.dshbd-vehicle-detail .btn-custom {
    min-width: 130px;
    height: 40px;
    padding: 10px 25px;
    font-size: 14px;
    /*border-radius: 2px;*/
    border: 1px solid #f0f0f0;
    background: transparent;
}

.dshbd-vehicle-detail .btn-custom:hover {
    border: 1px solid #2EB460;
    color: #2EB460;
}

.dshbd-doc-vdetail-edit > div[class*='col-'] > .form-group > label {
    min-height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.dshbd-doc-vdetail-edit article p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.dshbd-doc-vdetail-edit article span {
    color: #2EB460;
    font-size: 14px;
    font-weight: 500;
}

.dshbd-doc-vdetail-edit article span:hover a, .dshbd-doc-vdetail-edit article span:focus a {
    text-decoration: underline;
}

.dshbd-doc-vdetail-edit .color-green {
    color: #348032;
}

.dshbd-doc-vdetail-edit .color-red {
    color: #b14646;
}

.dshbd-doc-vdetail-edit .dshbd-doc-upload-new1, .dshbd-doc-vdetail-edit .dshbd-doc-upload-new2, .dshbd-doc-vdetail-edit .dshbd-doc-upload-new3, .dshbd-doc-vdetail-edit .dshbd-doc-upload-new4 {
    margin: 15px 0;
}

.dshbd-doc-vdetail-edit form {
    padding: 0;
}

.modal-dshbd-vdetail-delete {
    text-align: center;
}

.modal-dshbd-vdetail-delete p {
    margin: 35px 0;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.dshbd-vdetail-sidebar {
    width: 100%;
    height: auto;
    /*background: lighten($black, 18%);*/ /*padding: 15px 30px 15px 15px;*/
    padding-right: 30px;
    position: relative;
}

.dshbd-vdetail-sidebar:after {
    content: '';
    width: 1px;
    height: auto;
    background: #2e2e2e;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.dshbd-vdetail-sidebar .dshbd-vdetail-img figure {
    margin: 0;
}

.dshbd-vdetail-sidebar .dshbd-vdetail-img figure img {
    width: 100%;
}

.dshbd-vdetail-sidebar form {
    margin-top: 15px;
    padding: 0;
}

.vdetail-add-vehicle .dshbd-vehicle-list {
    padding-bottom: 30px;
    border-bottom: 1px dotted #2EB460;
}

.vdetail-add-vehicle .dshbd-vehicle-list figure {
    margin-top: 30px;
}

.row.vdivide div[class*='col-']:not(:last-child):after {
    content: "";
    background: #999999;
    width: 1px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

.row.vdivide div[class*='col-']:nth-child(3n+3):after {
    content: "";
    background: transparent;
}

/*------------------------------ Dashboard Available Jobs / Job History  --------------------------------*/
.dshbd-ajob > .row > div[class*='col-'] {
    margin-bottom: 30px;
}

.dshbd-ajob > .row > div[class*='col-']:last-child {
    margin-bottom: 0;
}

.dshbd-ajob-item {
    border: 1px solid #999999;
    position: relative;
    padding: 15px;
    -moz-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
}

.dshbd-ajob-item:hover {
    border: 1px solid #2EB460;
    -moz-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
    /*        .dshbd-numlist span{ color: $gold; @include transition(linear 0.3s); }*/;
}

.dshbd-ajob-item .dshbd-numlist {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 45px 0 0;
    border-color: #f0f0f0 transparent transparent transparent;
}

.dshbd-ajob-item .dshbd-numlist span {
    width: 22px;
    margin: -42px 0 0 2px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    display: block;
}

.dshbd-ajob-item .btn-group {
    display: block;
    float: right;
}

.dshbd-ajob-item .btn-group button {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.dshbd-ajob-item .btn-group .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #333333;
}

.dshbd-ajob-item .btn-group .dropdown-menu li a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #e9e9e9;
    background: transparent;
}

.dshbd-ajob-item .btn-group .dropdown-menu li:hover a {
    color: #2EB460;
}

.dshbd-ajob-item .btn-job-history {
    display: block;
    float: right;
}

.dshbd-ajob-item .btn-job-history button {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.dshbd-ajob-item > ul > li {
    color: #bfbfbf;
    padding: 3px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.dshbd-ajob-item > ul > li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 295px;
    letter-spacing: 0.25px;
    font-weight: 400;
}

.dshbd-ajob-item i.fa {
    width: 30px;
    font-size: 18px;
    color: #2EB460;
    position: relative;
}

.dshbd-ajob-item i.fa.fa-dotted:after {
    content: '';
    width: 1px;
    min-height: 33px;
    background: url(../images/fa-dotted.png) repeat-y top;
    background-size: auto 3px;
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 50%;
    margin-left: -25%;
}

/*------------------------------ Dashboard Driver Banking  --------------------------------*/
.dshbd-banking-form {
    width: 85%;
    margin: 0 auto;
    background: #292929;
}

/*------------------------------ Dashboard Customer  --------------------------------*/
.payment-amount {
    font-weight: bold;
}

.payment-amount p {
    font-size: 18px;
}

.dshbd-paypal figure {
    display: inline-block;
}

.dshbd-paypal figure img {
    width: auto;
}

.dshbd-paypal h4 {
    width: 228px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 15px;
    display: block;
    position: relative;
}

.dshbd-paypal h4:before, .dshbd-paypal h4:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid #f0f0f0;
    top: 15px;
    width: 50px;
}

.dshbd-paypal h4:before {
    right: 55%;
    margin-right: 15px;
}

.dshbd-paypal h4:after {
    left: 55%;
    margin-left: 15px;
}

.dshbd-payment-form {
    margin: 30px auto 0;
    background: #292929;
}
.dshbd-table .btn-group button.btn{
    height: 30px;
    padding: 3px 10px;
    background: #039607;
    color: #fff;
}
.dshbd-table .dropdown-menu {
    min-width: 100px;
    left: auto;
    right: 0;
}
.dshbd-table .dropdown-menu>li>a {
    padding: 3px 10px;
}
.dshbd-table .dshbd-title-btn{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.dshbd-table .dshbd-title-btn .btn{
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
}
.dshbd-table thead > tr > th{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
}
.dshbd-table thead > tr{
    text-align: center;
}
.dshbd-table thead > tr:first-child {
    height: 40px;
    background: #2EB460;
    color: #fff;
}
.dshbd-booking-detail .dshbd-table tbody > tr > th {
    width: 30%;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.dshbd-booking-detail .table-fee-charge tbody > tr > td {
    font-weight: 700;
}
.dshbd-booking-detail .table-fee-charge tbody > tr:last-child {
    font-size: 18px;
    color: #fff;
    background: #2EB460;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.pay-status{
    max-width:60px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    margin: 0 auto;
    padding: 1px 0;
}
.pay-status.pay-paid{
    background: #039607;
}
.pay-status.pay-unpaid{
    background: #9a3234;
}


.data-card {
    padding: 15px;
    color: #fff;
    height: auto;
    margin-bottom: 30px;
}
.red {
    background: #e95c5c;
}
.blue {
    background: #4ba1d0;
}
.green {
    background: #82cd54;
}
.data-card i, .data-card h4 {
    color: #fff;
}
.data-card i {
    display: block;
    font-size: 72px;
    margin-bottom: 40px;
    color: #fff;
}

.cstm-btn{
    background: #E45A5A;
    color: #fff !important;
    border:none;
    border-radius: 0;
    margin-top: 7px;
        padding: 10px 20px;
}
.dshbd-title-btn>.row{
    width: 100%
}