@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
/*ipad landscape view*/
@media(min-width:991px) and (max-width:1199px){
    h1 {
        font-size: 35px;
    }
    .navigation .container,
    .navigation .navbar-collapse{
        padding: 0;
    }
    .navbar-nav > li > a {
        padding: 15px 12px;
    }
    .hdr-logo {
        left: 0;
        right: 0;
    }
    .banner article {
        left: 0;
        right: 0;
    }
    .banner .quote-engine {
        width: 65%;
        left: 20%;
        padding: 15px;
    }
    .banner .slick-slide img {
        height: 490px;
        width: auto;
    }
    .choose-list h3{
        font-size: 16px;
    }
    .testimonials{
        background: #fcf6f8;
    }
    .testimonials div[class*='col-md']{
        width: 70%;
    }
    .testimonials div[class*='col-md-offset']{
        margin-left: 15%;
    }
    footer div[class*='col-']:last-child ul li a {
        letter-spacing: -0.05px;
    }
    /*    .quote-engine .cstm-rad .radio-inline {
            width: 100%;
            margin-bottom: 1px;
        }
        .inr-quote .quote-engine .cstm-rad label span{
            width: 100%;
        }*/
    .inr-quote h2{
        text-align: center;
    }
    .inner-content .col-md-8,
    .inner-content .col-md-4{
        width: 100%;
    }
    .inner-content .col-md-offset-2{
        margin-left: 0;
    }
    .inr-quote{
        margin-top: 15px;
    }
    .inr-quote .quote-engine form{
        width: 63%;
        margin: 0 auto;
    }
    .inr-quote .quote-engine form .bg-white{
        padding: 15px;
    }
    .inr-quote .quote-engine form .bg-white.bottom-padding{
        padding-top: 0;
    }
    .inr-quote .quote-engine .cstm-rad label span {
        width: 150px;
        font-size: 13px;
    }
    .lower-content.boston-area div[class*='col-']{
        width: 100%;
        margin-bottom: 15px;
    }
    .contact-info {
        padding: 36px 15px;
    }
    .inr-quote-part .container{
        width: 80%;
        margin: 0 auto;
    }
    .journey-detail ul li {
        width: 49%;
    }


}
/*ipad potrait view*/
@media(max-width:768px){
    .top-bar .lg-translator {
        display: none;
    }
    .top-bar .col-xs-9{
        width: 70%;
    }
    .top-bar .col-xs-3{
        width: 30%;
    }
    .navigation {
        margin-top: 10px;
    }
    .navigation .navbar-brand {
        height: 80px;
        padding: 0 15px;
    }
    .navigation .navbar-brand figure{
        width: 80%;
        margin: 0 auto;
    }
    .navigation .navbar-brand figure img{
    }
    .navigation .navbar-toggle {
        margin-top: 15px;
    }
    .navigation .navbar-default .navbar-toggle {
        border: none;
        background: #2EB460;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #062D55;
    }

    .navigation .navbar-default .navbar-toggle:focus,
    .navigation .navbar-default .navbar-toggle:hover {
        background-color: #2EB460;
        color: #3e6ae9;
        /*border: none;*/
    }
    .navigation .navbar-default .navbar-toggle .icon-bar {
        transition: linear 0.3s;        
    }
    .navigation .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #3e6ae9;
        transition: linear 0.3s;        
    }
    .navigation .nav{
        border-top: 1px solid #ccc;
        margin:0;
    }
    .navigation .navbar-nav > li > a {
        padding: 10px 15px;
    }
    #quick-quote .slick-banner,
    #quick-quote article{
        display: none;
    }
    #quick-quote .quote-engine{
        position: static;
    }
    #quick-quote .quote-engine form{
        width: 70%;
        margin: 0 auto;
    }
    .quote-engine .cstm-rad label span {
        width: 145px;
        padding: 12px;
    }
    .banner .quote-engine .bottom-padding {
        width: 100%;
    }
    .choose-us-wrap .row > div[class*='col-']{
        margin-bottom: 60px;
    }
    .choose-us-wrap .row > div[class*='col-']:nth-last-child(-n+2){
        margin-bottom: 0;
    }
    .service-wrap > .row{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap:wrap;
    }
    .service-wrap > .row > div[class*='col-']:nth-child(1){
        order:2;
    }
    .service-wrap > .row > div[class*='col-']:nth-child(2){
        order:1;
    }
    .service-wrap > .row > div[class*='col-']:nth-child(3){
        order:3;
    }
    .service-wrap > .row > div[class*='col-']:nth-child(4){
        order:4;
    }
    .service-wrap figure{
        width: 55%;
        margin: 0 auto 15px;
    }
    .service-wrap .service-left-content,
    .service-wrap .service-right-content{
        text-align: center;        
        width: 50%;
        margin: 0 auto 30px;

    }
    .service-wrap .service-right-content-last{
        margin-bottom: 0;
    }
    .testimonials{
        background: #fcf6f8;
    }
    .top-footer .row > div[class*='col-']{
        margin-bottom: 40px;
    }
    .top-footer .row > div[class*='col-']:last-child{
        margin-bottom: 0;
    }
    .inr-quote h2.title{
        text-align: center;
    }
    .inr-quote{
        margin-top: 15px;
    }
    .inr-quote .quote-engine form{
        width: 75%;
        margin: 0 auto;
    }
    .inr-quote .quote-engine form .bg-white{
        padding: 15px;
    }
    .inr-quote .quote-engine form .bg-white.bottom-padding{
        padding-top: 0;
    }
    .inr-quote .quote-engine .cstm-rad label span {
        width: 150px;
        font-size: 13px;
    }
    .inner-pages h1 {
        font-size: 28px;
    }
    .inner-banner article {
        padding: 35px 0 15px;
    }
    .inner-pages .breadcrumb {
        margin: 0 ;
    }
    .lower-content.boston-area div[class*='col-']{
        width: 100%;
        margin-bottom: 15px;
    }
    .contact-wrap .contact-form {
        width: 100%;
        margin-bottom: 30px;
        clear: both;
    }
    .contact-wrap .contact-info {
        width: 60%;
        margin: 0 auto 30px;
        float: none;
        clear: both;
    }
    .map-wrap {
        margin-top: 30px;
    }
    .journey-detail ul li {
        width: 49%;
    }
}
/*nexus 7 landscape*/
@media(min-width:769px) and (max-width:990px){
    .top-bar .lg-translator {
        display: none;
    }
    .top-bar .col-xs-9{
        width: 70%;
    }
    .top-bar .col-xs-3{
        width: 30%;
    }
    .navigation {
        margin-top: 10px;
    }
    .navigation .navbar-brand {
        height: 80px;
        padding: 0 15px;
    }
    .navigation .navbar-brand figure{
        width: 80%;
        margin: 0 auto;
    }
    .dshbd-hdr-logo #cd-logo img {
        width: 55%;
    }
    .navigation .navbar-toggle {
        margin-top: 15px;
    }
    .navigation .navbar-default .navbar-toggle {
        border: none;
        background: #2EB460;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #062D55;
    }

    .navigation .navbar-default .navbar-toggle:focus,
    .navigation .navbar-default .navbar-toggle:hover {
        background-color: #2EB460;
        color: #3e6ae9;
        /*border: none;*/
    }
    .navigation .navbar-default .navbar-toggle .icon-bar {
        transition: linear 0.3s;        
    }
    .navigation .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #3e6ae9;
        transition: linear 0.3s;        
    }
    .navigation .nav{
        border-top: 1px solid #ccc;
        margin:0;
    }
    .navigation .navbar-nav > li > a {
        padding: 10px 15px;
    }
    #quick-quote .slick-banner,
    #quick-quote article{
        display: none;
    }
    #quick-quote .quote-engine{
        position: static;
    }
    #quick-quote .quote-engine form{
        width: 70%;
        margin: 0 auto;
    }
    .quote-engine .cstm-rad label span {
        width: 145px;
        padding: 12px;
    }
    .banner .quote-engine .bottom-padding {
        width: 100%;
    }
    .choose-us-wrap .row > div[class*='col-']{
        margin-bottom: 60px;
    }
    .choose-us-wrap .row > div[class*='col-']:nth-last-child(-n+2){
        margin-bottom: 0;
    }
    .service-wrap > .row{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap:wrap;
    }
    .service-wrap > .row > div[class*='col-']:nth-child(1){
        order:2;
    }
    .service-wrap > .row > div[class*='col-']:nth-child(2){
        order:1;
    }
    .service-wrap > .row > div[class*='col-']:nth-child(3){
        order:3;
    }
    .service-wrap > .row > div[class*='col-']:nth-child(4){
        order:4;
    }
    .service-wrap figure{
        width: 55%;
        margin: 0 auto 15px;
    }
    .service-wrap .service-left-content,
    .service-wrap .service-right-content{
        text-align: center;        
        width: 50%;
        margin: 0 auto 30px;

    }
    .service-wrap .service-right-content-last{
        margin-bottom: 0;
    }
    .testimonials{
        background: #fcf6f8;
    }
    .top-footer .row > div[class*='col-']{
        margin-bottom: 40px;
    }
    .top-footer .row > div[class*='col-']:last-child{
        margin-bottom: 0;
    }
    .inr-quote h2.title{
        text-align: center;
    }
    .inr-quote{
        margin-top: 15px;
    }
    .inr-quote .quote-engine form{
        width: 75%;
        margin: 0 auto;
    }
    .inr-quote .quote-engine form .bg-white{
        padding: 15px;
    }
    .inr-quote .quote-engine form .bg-white.bottom-padding{
        padding-top: 0;
    }
    .inr-quote .quote-engine .cstm-rad label span {
        width: 150px;
        font-size: 13px;
    }
    .inner-pages h1 {
        font-size: 28px;
    }
    .inner-banner article {
        padding: 35px 0 15px;
    }
    .inner-pages .breadcrumb {
        margin: 0 ;
    }
    .lower-content.boston-area div[class*='col-']{
        width: 100%;
        margin-bottom: 15px;
    }
    .contact-wrap .contact-form {
        width: 100%;
        margin-bottom: 30px;
        clear: both;
    }
    .contact-wrap .contact-info {
        width: 60%;
        margin: 0 auto 30px;
        float: none;
        clear: both;
    }
    .map-wrap {
        margin-top: 30px;
    }
    .journey-detail ul li {
        width: 49%;
    }
}

/*iphone 5 and android lanscape and nexus 7 potrait*/
@media(max-width:640px){
    .data-card i {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }
    .section-title {
        line-height: 24px;
    }
    .section-title span {
        font-size: 20px;
    }
    .top-bar{
        display: block;
        padding: 8px 0;
    }
    .top-bar ul li a {
        padding: 0 10px;
    }
    #quick-quote .quote-engine form{
        width: 75%;
    }
    .quote-engine .cstm-rad label span {
        width: 130px;
        padding: 11px 10px;
    }
    .inr-quote .quote-engine form{
        width: 75%;
        margin: 0 auto;
    }
    .inr-quote h2{
        text-align: center;
    }
    .banner .quote-engine .bottom-padding {
        width: 100%;
        margin: 0;
    }
    .banner .quote-engine .bottom-padding.bg-white{
        padding: 0 15px;
    }
    .banner .quote-engine .bottom-padding .btn{
        padding: 0 15px;
    }

    .service-wrap figure{
        width: 45%;
        margin: 0 auto 15px;
    }
    .service-wrap .service-left-content,
    .service-wrap .service-right-content{
        text-align: center;        
        width: 48%;
        margin: 0 auto 30px;
    }
    .payment-opt figure {
        width: 65%;
    }
    .last-footer p{
        font-size: 13px;
    }
    .inner-pages h1 {
        font-size: 28px;
    }
    .inner-pages .breadcrumb {
        margin: 5px 0;
        padding: 0;
    }
    .inner-banner article {
        padding: 25px 0 20px;
    }
    .lower-content .media .fi::before {
        font-size: 60px;
    }
    .inner-content .check-list li{
        line-height: 1.4;
    }
    .contact-wrap .contact-info {
        width: 70%;
    }
    .account-wrap .create-account {
        text-align: center;
    }
    .inr-quote-part .container{
        width: 70%;
        margin: 0 auto;
    }
    .journey-detail ul li {
        width: 100%;
    }
    .booking-opt ul li span {
        text-align: center;
        min-width: 260px;
        margin: 0 auto 1px;
    }
    .choose-us-wrap .row > div[class*='col-']:nth-last-child(-n+1){
        margin-bottom: 0;
    }
    .choose-us-wrap .row > div[class*='col-']:nth-last-child(2){
        margin-bottom: 60px;
    }
    .boston-area .area-list, .area-main .area-list {
        column-count: 2;
    }
}
/*iphone 4 landscape(optional)*/
@media(max-width:480px){
    .dshbd-hdr-logo #cd-logo img {
    width: 100%;
}
.dshbd-title h1 span {
    font-size: 20px;
}
    .dshbd-title h1 {
    font-size: 24px;
    }
    .cstm-btn {
        padding: 5px 14px;
        height: auto;
    }
    .dshbd-nav #cd-top-nav ul li a{
        font-size: 13px;
    }
    .inner-pages h1 {
        font-size: 20px;
    }
    .top-bar .email-msg {
        display: none;
    }
    #quick-quote .quote-engine form,
    .inr-quote .quote-engine form {
        width: 100%;
    }
    .title {
    font-size: 14px;
    }
    .dshbd-table .dshbd-title-btn .btn-custom {
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    }
    .service-wrap figure {
        width: 70%;
    }
    .dshbd-ft-end .ft-social {
        margin-bottom: 10px;
    }
    .service-wrap .service-left-content,
    .service-wrap .service-right-content {
        width: 75%;
    }
    .contact-wrap .contact-info {
        width: 85%;
    }
    .login-form .col-xs-4{
        width:40%;
    }
    .inr-quote-part .container {
        width: 85%;
    }

}
/*s7edge potrait*/
@media(max-width:450px){
    .quote-engine .cstm-rad .radio-inline {
        width: 100%;
    }
    .quote-engine .cstm-rad label span,
    .inr-quote .quote-engine .cstm-rad label span{
        width: 100% !important;
        margin-bottom: 1px;
    }
    .choose-us-wrap .row > div[class*="col-"] {
        width: 100%;
        margin-bottom: 35px;
    }
    .choose-us-wrap .row > div[class*='col-']:nth-last-child(-n+1){
        margin-bottom: 0;
    }
    .choose-us-wrap .row > div[class*='col-']:nth-last-child(2){
        margin-bottom: 35px;
    }
    .top-footer .row > div[class*="col-"] {
        width: 100%;
        margin-bottom: 40px;
    }

}
/* s7 edge landscape*/
@media(min-width:667px) and (max-width:767px){
    .top-bar .col-xs-9{
        width: 75%;
    }
    .top-bar .col-xs-3{
        width: 25%;
    }
    .hdr-left .email-msg{
        display: none;
    }
    .top-bar > .container{
        width: 100%;
    }

}
/*iphone 5 and android potrait*/
@media(max-width:380px){
    .dshbd-hdr .navigation .navbar-default .navbar-nav li a {
        font-size: 11px;
    }
    main > section {
        padding: 85px 0;
    }
    .hdr-left .email-msg{
        display: none;
    }
    .inr-form {
        padding: 15px;
    }
    .top-bar .col-xs-9{
        width: 65%;
    }
    .top-bar .col-xs-3{
        width: 35%;
    }
    .navigation .navbar-brand figure {
        width: 70%;
    }
    .navigation .navbar-brand {
        height: 70px;
    }
    .inr-quote-part .container{
        width: 100%;
    }
    #quick-quote .quote-engine form,
    .inr-quote .quote-engine form {
        width: 100%;
    }
    .quote-engine .cstm-rad .radio-inline {
        width: 100%;
    }

    .quote-engine .cstm-rad label span,
    .inr-quote .quote-engine .cstm-rad label span{
        width: 100%;
        margin-bottom: 1px;
    }
    .choose-us-wrap .row > div[class*="col-"] {
        width: 100%;
        margin-bottom: 35px;
    }
    .choose-us-wrap .row > div[class*='col-']:nth-last-child(-n+1){
        margin-bottom: 0;
    }
    .choose-us-wrap .row > div[class*='col-']:nth-last-child(2){
        margin-bottom: 35px;
    }
    .service-wrap figure{
        width: 100%;
        margin: 0 auto 15px;
    }
    .service-wrap .service-left-content,
    .service-wrap .service-right-content{
        text-align: center;        
        width: 100%;
        margin: 0 auto 30px;

    }
    footer .col-xs-6{
        width: 100%;
    }
    .last-footer p {
        line-height: 14px;
    }
    .media-body,
    .media-left{
        text-align: center;
    }
    .media-left{
        display: block;
    }
    .lower-content .media-left .fi:before{
        border-right: none;
        padding-right: 0;
        margin-right: 0;
    }
    .contact-wrap .contact-info {
        width: 100%;
    }
    .top-footer .area-link {
        column-count: 1;
    }
    .boston-area .area-list,
    .area-main .area-list {
        column-count: 1;
    }
    .login-form .col-xs-4{
        width: 100%;
        margin-bottom: 2px;
    }


}

/*iphone4 potrait(optional)*/
@media(max-width:320px){
    .dshbd-title h1 {
    font-size: 19px;
}
.dshbd-title h1 span {
    font-size: 16px;
}
    h2{
        font-size: 20px;
    }
    main > section {
        padding: 80px 0;
    }
    .inner-pages h1 {
        font-size: 20px;
    }
    .inner-pages .title {
        font-size: 14px;
    }

    .section-title span {
        font-size: 18px;
    }
    .about p.title-content {
        margin: 30px 0 50px;
        font-size: 14px;
    }
    .contact-info {
        padding: 35px 15px;
    }.contact-info .home-link .fa {
        margin-right: 5px;
    }
    .contact-info ul li {
        font-size: 14px;
    }
    .banner .quote-engine .bg-white,
    .banner .quote-engine .bottom-padding.bg-white {
        padding: 0;
    }
    .inr-quote {
        padding: 15px 0 0;
    }

    .dshbd-ft-end .ft-social li .fa {
        width: 25px;
height: 25px;
padding: 5px 0;
font-size: 15px;
    }




}

/*nexus 7 potrait(optional)*/
@media (max-width: 603px){
}
/*nexus 7 landscape(optional)*/
@media(min-width:769px) and (max-width:990px){
}

@media (min-width: 990px) {
    .navbar-brand {
        display: none;
    }
}