/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Jul 31, 2017, 12:16:56 PM Author     : Sanjiv
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Jul 31, 2017, 12:17:21 PM Author     : Sanjiv
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Jul 31, 2017, 12:17:07 PM Author     : Sanjiv
*/
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@font-face { font-family: 'product-regular'; src: url("../fonts/Product Sans Regular.ttf"); }
@font-face { font-family: 'product-bold'; src: url("../fonts/Product Sans Bold.ttf"); }
body { max-width: 1600px; margin: 0 auto; line-height: 1.4; letter-spacing: 0.8px; font-size: 15px; }

img { user-drag: none; user-select: none; -moz-user-select: none; -webkit-user-drag: none; -webkit-user-select: none; -ms-user-select: none; }

.container-fluid { padding: 0; }

a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

h1 { font-family: 'Kaushan Script', cursive; font-size: 72px; color: #fff; text-align: center; }

.pattern { background: rgba(34, 34, 34, 0.9) url(../images/pattern.png) repeat center center; }

.img-pattern { background: rgba(34, 34, 34, 0.1) url(../images/pattern.png) repeat center center; height: 100%; width: 100%; left: 0; top: 0; }

.blue-btn { color: #fff; background: #419ad5; border-radius: 0; font-family: 'product-regular'; font-size: 16px; letter-spacing: 0.2px; }
.blue-btn:hover { color: #fff; }

.main-bgimage { height: 590px; background-size: cover; position: relative; }
.main-bgimage iframe { border: 3px solid #419ad5; }

body { background-color: #fff; font-family: 'product-regular'; color: #666666; font-size: 14px; }

header .up-header { min-height: 120px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; }
header .up-header .phone-header { padding-left: 20px; }
header .up-header .phone-header span { color: #999999; font-size: 13px; }
header .up-header .phone-header a { font-size: 18px; color: #fff; font-family: 'product-regular'; }
header .up-header .blue-btn { padding: 15px 30px; }
header .up-header .blue-btn:hover, header .up-header .blue-btn:focus, header .up-header .blue-btn:active { color: #fff; }

.low-header { background: rgba(0, 0, 0, 0.75); z-index: 99; position: relative; }
.low-header .container .navbar-collapse ul > li { padding-left: 18px; padding-right: 18px; border-right: 1px solid #419ad5; }
.low-header .container .navbar-collapse ul > li:last-child { border-right: none; }
.low-header .container .navbar-collapse ul > li > a { color: #fff; text-transform: uppercase; font-size: 14px; font-family: 'product-regular'; }
.low-header .container .navbar-collapse ul > li > a:hover, .low-header .container .navbar-collapse ul > li > a:focus, .low-header .container .navbar-collapse ul > li > a:active { color: #419ad5; background: transparent; }
.low-header .container .navbar-collapse ul > li .dropdown-menu { background: #000; opacity: 0.9; }
.low-header .container .navbar-collapse ul > li .dropdown-menu li { border-right: none; padding: 10px 0; }
.low-header .container .navbar-collapse ul > li .dropdown-menu li:active, .low-header .container .navbar-collapse ul > li .dropdown-menu li:focus, .low-header .container .navbar-collapse ul > li .dropdown-menu li:active { background: transparent; }
.low-header .container .navbar-collapse ul > li .dropdown-menu li a { color: #fff; }
.low-header .container .navbar-collapse ul > li .dropdown-menu li a:hover, .low-header .container .navbar-collapse ul > li .dropdown-menu li a:focus { color: #419ad5; background: transparent; }
.low-header .container .navbar-collapse ul > li.active a:hover { background: transparent; }
.low-header .container .navbar-collapse ul .active a { color: #419ad5; }

.banner { background: url(../images/banner.jpg) no-repeat; }
.banner .container-fluid .img-pattern { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.banner .container-fluid .img-pattern > h1 { margin-top: 120px; line-height: 1.2; margin-bottom: 40px; letter-spacing: 0.2px; }
.banner .container-fluid .img-pattern > .blue-btn { padding: 15px 30px; margin-bottom: 153px; }
.banner .container-fluid .img-pattern > .blue-btn:hover, .banner .container-fluid .img-pattern > .blue-btn:focus, .banner .container-fluid .img-pattern > .blue-btn:active { color: #fff; }

.welcome { margin-bottom: 65px; }
.welcome .row .quote-form { position: absolute; top: -66px; box-shadow: 0px 0px 5px #888888; border-top-right-radius: 20px; border-top-left-radius: 20px; }
.welcome .row .quote-form h3 { background: #000; font-size: 24px; font-family: 'product-regular'; text-transform: uppercase; color: #fff; padding: 20px 0 20px 15px; border-top-right-radius: 20px; border-top-left-radius: 20px; margin-bottom: 20px; }
.welcome .row .quote-form form .form-group { margin-bottom: 10px; }
.welcome .row .quote-form form .form-group label { padding: 0 15px; }
.welcome .row .quote-form form .form-group .input-group { padding: 0 15px; }
.welcome .row .quote-form form .form-group .input-group input { border-radius: 0; border-right: 0; height: 50px; }
.welcome .row .quote-form form .form-group .input-group .input-group-addon { color: #000; background: #fff; border-radius: 0; box-shadow: none; width: 10%; }
.welcome .row .quote-form form .date { padding-right: 0px; }
.welcome .row .quote-form form .date .input-group { padding-right: 0; }
.welcome .row .quote-form form .time { padding-left: 0; }
.welcome .row .quote-form form .blue-btn { font-size: 14px; letter-spacing: 0.8px; padding: 15px 0; text-transform: uppercase; }
.welcome .row .quote-form form .blue-btn:hover, .welcome .row .quote-form form .blue-btn:focus, .welcome .row .quote-form form .blue-btn:active { color: #fff; }
.welcome .row .quote-form .payment { margin: 5px 0 15px 13px; }
.welcome .row .quote-form .payment h4 { margin-bottom: 15px; }
.welcome .row .welcome-info { padding-left: 40px; }
.welcome .row .welcome-info h2 { margin-top: 100px; text-transform: uppercase; font-size: 30px; font-weight: 700; }
.welcome .row .welcome-info h2 span { color: #419ad5; }
.welcome .row .welcome-info p { margin: 30px 0 50px 0; letter-spacing: 0.2px; line-height: 24px; }

.media { text-align: left; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; margin-bottom: 50px; }
.media .media-left { /*margin-top:10px;*/ padding-top: 10px; }
.media .media-left i:before { text-align: center; font-size: 30px; color: #419ad5; border: 1px solid #ddd; padding: 15px; }
.media .media-body { padding-left: 30px; }
.media .media-body h4 { font-size: 18px; text-transform: uppercase; }

.index-fleet { background: url("../images/flletbg.jpg") no-repeat; background-size: contain; min-height: 460px; position: relative; margin-bottom: 50px; }
.index-fleet .container { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: column; align-items: center; }
.index-fleet .container h3 { margin-top: 80px; font-size: 48px; color: #fff; margin-bottom: 30px; }
.index-fleet .container hr { border-top: 6px solid #419ad5; width: 70px; }
.index-fleet .container p { color: #fff; font-size: 20px; letter-spacing: 0.3px; }
.index-fleet .container .blue-btn { padding: 15px 40px; margin-top: 55px; z-index: 1; }
.index-fleet .container .blue-btn:hover, .index-fleet .container .blue-btn:focus, .index-fleet .container .blue-btn:active { color: #fff; }
.index-fleet .fleet-car { position: absolute; /*display: inline;*/ top: 285px; width: 100%; }
.index-fleet .fleet-car .sadan-img { width: 35%; }
.index-fleet .fleet-car .mbenz { width: 30%; }

.offers { margin-bottom: 100px; }
.offers .container .row h3 { font-size: 30px; font-weight: 700; color: #222222; margin-bottom: 35px; }
.offers .container .row p { color: #666666; font-size: 16px; line-height: 24px; font-family: 'product-regular'; margin-bottom: 80px; }
.offers .container .row .offer-img { position: relative; }
.offers .container .row .offer-img i:before { color: #fff; font-size: 35px; background: #419ad5; padding: 5px 10px; border-radius: 50%; position: absolute; border: 2px solid #fff; top: 75px; left: -35px; }
.offers .container .row .offer-img h4 { font-size: 18px; margin-top: 40px; text-align: left; }

.book-section { background: url(../images/book-bg.jpg) no-repeat; background-size: cover; text-align: center; }
.book-section .img-pattern { padding: 55px; }
.book-section .img-pattern h3 { font-size: 48px; color: #fff; font-weight: 700; text-transform: uppercase; margin-bottom: 20px; }
.book-section .img-pattern p { font-size: 16px; color: #eaebec; line-height: 24px; margin-bottom: 20px; font-weight: 500; }
.book-section .img-pattern h4 { font-size: 30px; color: #fff; font-weight: 700; text-transform: uppercase; }
.book-section .img-pattern h5 { font-size: 30px; margin-top: 11px; }
.book-section .img-pattern h5 a { color: #fff; }
.book-section .img-pattern h5 a:hover, .book-section .img-pattern h5 a:focus, .book-section .img-pattern h5 a:active { color: #fff; }
.book-section .img-pattern h6 { margin: 20px 0; font-size: 18px; color: #fff; }
.book-section .img-pattern .blue-btn { font-size: 18px; padding: 20px 40px; }
.book-section .img-pattern .blue-btn:hover, .book-section .img-pattern .blue-btn:focus, .book-section .img-pattern .blue-btn:active { color: #fff; }

.social-icon a { margin-right: 25px; color: #fff; font-size: 24px; }
.social-icon a:hover, .social-icon a:focus, .social-icon a:active { color: #419ad5; }

footer { background: #111111; border-top: 4px solid #3d3d3d; min-height: 20px; }
footer h4 { color: #fff; font-size: 18px; text-transform: uppercase; margin-bottom: 40px; margin-top: 100px; }
footer .check-list li:before { content: '\f105'; font-family: FontAwesome; font-size: 14px; padding-right: 10px; color: #419ad5; }
footer .check-list li a { color: #fff; text-transform: capitalize; }
footer .form-group .col-md-8, footer .form-group .col-md-4 { margin: 0; padding: 0; }
footer .form-group .col-md-8 input, footer .form-group .col-md-4 input { margin-top: 40px; border-radius: 0; height: 50px; }
footer .form-group .col-md-8 .blue-btn:hover, footer .form-group .col-md-4 .blue-btn:hover { color: #fff; }
footer .contact-details p { color: #fff; letter-spacing: 0.3px; }
footer .contact-details p .fa { color: #419ad5; }
footer .contact-details li { margin: 10px 0; }
footer .contact-details li .fa { margin-right: 10px; color: #419ad5; }
footer .contact-details li a { color: #fff; text-transform: capitalize; }

.copyright { background: #080808; color: #fff; height: 70px; }
.copyright p { text-align: center; margin-top: 20px; font-size: 14px; font-family: 'product-regular'; }

/*-------------------------- about page --------------------------------------*/
.about { background: url(../images/about-banner.jpg) no-repeat; background-size: contain; text-align: center; }
.about h1 { line-height: 1.2px; margin-top: 320px; letter-spacing: 0.2px; position: relative; top: -180px; }
.about .about-details { background: #fff; margin-top: 20px; }
.about .about-details h2 { text-transform: uppercase; font-size: 30px; font-weight: 700; margin-bottom: 20px; color: #419ad5; }
.about .about-details p { line-height: 1.8; }
.about .about-details h3 { font-size: 30px; font-weight: 700; margin: 30px 0; }

/*-------------------------- car page --------------------------------------*/
.car { background: url(../images/car-banner.jpg) no-repeat; background-size: contain; text-align: center; }
.car h1 { line-height: 1.2px; margin-top: 320px; letter-spacing: 0.2px; position: relative; top: -180px; text-transform: capitalize; }
.car .car-details { margin-top: 20px; }
.car .car-details h2 { text-transform: uppercase; font-size: 30px; font-weight: 700; color: #419ad5; }
.car p { line-height: 1.8; margin: 30px 0 50px 0; }
.car h3 { font-size: 18px; color: #419ad5; margin: 10px 0; }
.car .col-md-4 { padding-top: 15px; max-width: 100%; text-align: center; transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.car .col-md-4:hover, .car .col-md-4:focus, .car .col-md-4:active { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); }
.car .col-md-4 .car-desc { margin-top: -10px; padding: 20px; }
.car .col-md-4 .car-desc .fa { margin-left: -15px; font-size: 18px; color: #419ad5; padding-right: 10px; }
.car .col-md-4 .car-desc .col-md-6 { border: 1px solid #ddd; padding: 5px; margin-bottom: 15px; }
.car .col-md-4 .car-desc .col-md-6:last-child { border-left: none; }
.car .col-md-4 .car-desc .col-md-6 span { padding: 20px; }
.car .col-md-4 .car-desc p { margin-top: 10px; }

/*-------------------------- service page --------------------------------------*/
.service { background: url(../images/service-banner.jpg) no-repeat; background-size: contain; text-align: center; }
.service .wrapper h1 { line-height: 1.2px; margin-top: 279px; letter-spacing: 0.2px; position: relative; top: -180px; text-transform: capitalize; }
.service .wrapper .service-details { /*margin-top: 20px;*/ }
.service .wrapper .service-details .container h2 { text-transform: uppercase; font-size: 30px; font-weight: 700; color: #419ad5; margin-top: 50px; }
.service .wrapper .desc { margin: 25px 0 50px 0; line-height: 24px; }
.service .wrapper h3 { font-size: 18px; color: #419ad5; margin: 10px 0; }
.service .wrapper .service-list { margin-bottom: 50px; border-bottom: 1px solid #ddd; padding-bottom: 50px; }
.service .wrapper .service-list:last-child { border-bottom: none; }
.service .wrapper .service-list h4 { font-size: 24px; color: #419ad5; margin-bottom: 10px; }

/*-------------------------- airport transfer page --------------------------------------*/
.airport-transfer { background: url(../images/airport-banner.jpg) no-repeat; background-size: contain; text-align: center; }
.airport-transfer h1 { line-height: 1.2px; margin-top: 199px; letter-spacing: 0.2px; position: relative; top: -80px; text-transform: capitalize; }
.airport-transfer .airport-details { margin-top: 100px; }
.airport-transfer .airport-details p { margin-top: 30px; margin-bottom: 30px; }
.airport-transfer .airport-details table { margin-bottom: 40px; width: 100%; color: #666666; border-radius: 8px; overflow: hidden; border-left: 1px solid #419ad5; border-top: 1px solid #419ad5; border-collapse: initial; }
.airport-transfer .airport-details table th { font-size: 16px; background-color: #419ad5; font-weight: 700; color: #fff; padding: 15px; border-bottom: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; }
.airport-transfer .airport-details table td { background-color: #fff; padding: 15px; font-weight: 300; border-bottom: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; }
.airport-transfer .airport-features { background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/airport-feature.jpg) no-repeat; height: 300px; }
.airport-transfer .airport-features .row { margin-right: 0px; margin-left: 0px; }
.airport-transfer .airport-features .row .col-md-4 span .fa { font-size: 100px; color: #fff; margin-top: 100px; }
.airport-transfer .airport-features .row h4 { font-size: 18px; color: #fff; margin-top: 10px; }
.airport-transfer .airport-features .overlay-content { width: 100%; left: 0; top: 0; right: 0; padding: 15px; display: table; height: 250px; margin-top: -200px; color: #000; font-size: 16px; opacity: 0; transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; background: rgba(255, 255, 255, 0.7); }
.airport-transfer .airport-features .overlay-content:hover, .airport-transfer .airport-features .overlay-content:focus, .airport-transfer .airport-features .overlay-content:active { opacity: 1; }
.airport-transfer .airport-features .overlay-content:hover .fa, .airport-transfer .airport-features .overlay-content:focus .fa, .airport-transfer .airport-features .overlay-content:active .fa { opacity: 0; }

/*-------------------------- seaport transfer page --------------------------------------*/
.seaport-transfer { background: url(../images/seaport-transferbanner.jpg) no-repeat; background-size: contain; text-align: center; }
.seaport-transfer h1 { line-height: 1.2px; margin-top: 199px; letter-spacing: 0.2px; position: relative; top: -80px; text-transform: capitalize; }
.seaport-transfer .sea-details { margin-top: 100px; }
.seaport-transfer .sea-details p { margin-top: 30px; margin-bottom: 30px; }
.seaport-transfer .sea-details table { margin-bottom: 40px; width: 100%; color: #666666; border-radius: 8px; overflow: hidden; border-left: 1px solid #419ad5; border-top: 1px solid #419ad5; border-collapse: initial; }
.seaport-transfer .sea-details table th { font-size: 16px; background-color: #419ad5; font-weight: 700; color: #fff; padding: 15px; border-bottom: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; }
.seaport-transfer .sea-details table td { background-color: #fff; padding: 15px; font-weight: 300; border-bottom: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; }
.seaport-transfer .seaport-book { background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/seaport-foot-banner.jpg) no-repeat; height: 300px; }
.seaport-transfer .seaport-book .seaport-book-details { background: rgba(255, 255, 255, 0.6); padding: 50px; margin-top: 30px; min-height: 200px; color: #000; font-size: 16px; }
.seaport-transfer .seaport-book .seaport-book-details a { margin-top: 20px; padding: 15px 25px; }
.seaport-transfer .seaport-book .seaport-book-details a:hover, .seaport-transfer .seaport-book .seaport-book-details a:focus, .seaport-transfer .seaport-book .seaport-book-details a:active { color: #fff; }

/*-------------------------- events page --------------------------------------*/
.events { background: url(../images/event-banner.jpg) no-repeat; background-size: contain; text-align: center; }
.events h1 { line-height: 1.2px; margin-top: 199px; letter-spacing: 0.2px; position: relative; top: -80px; text-transform: capitalize; }
.events .events-details { margin-bottom: 40px; }
.events .events-details h2 { margin-bottom: 40px; margin-top: 120px; color: #419ad5; }
.events .events-details h3 { color: #419ad5; padding-bottom: 20px; }
.events .events-details p { font-size: 16px; letter-spacing: 0.8px; line-height: 24px; }
.events .events-details .event-name { position: absolute; top: 76%; font-size: 16px; background: #419ad5; padding: 15px 30px; color: #fff; }
.events .events-details .event-name .fa { padding-right: 5px; }

/*-------------------------- booking page --------------------------------------*/
.booking-page { background: url(../images/booking-banner.jpg) no-repeat; background-size: contain; text-align: center; }
.booking-page h1 { line-height: 1.2px; margin-top: 199px; letter-spacing: 0.2px; position: relative; top: -80px; text-transform: capitalize; }

.booking-form { padding: 25px 25px 5px 25px; margin-top: 100px; background: #fafafa; }
.booking-form legend { border: 1px solid #419ad5; width: 40%; margin: 0 auto; text-align: center; text-transform: uppercase; padding: 8px 10px; background: #fff; color: #419ad5; }
.booking-form fieldset { background: #ffffff; padding: 20px; margin: 0 0 30px; border: 1px solid #419ad5; }
.booking-form fieldset .blue-btn { padding: 10px 50px; margin-top: 20px; }
.booking-form fieldset .blue-btn:hover, .booking-form fieldset .blue-btn:focus, .booking-form fieldset .blue-btn:active { color: #fff; }
.booking-form .control-label { text-align: left; }
.booking-form .time_pick input { z-index: 0; }
.booking-form .timepicker { z-index: 11; }

/*-------------------------- contact page --------------------------------------*/
.contact { background: url(../images/contact-banner.jpg) no-repeat; background-size: contain; text-align: center; }
.contact h1 { padding: 20px 0; }
.contact .form-horizontal { background-color: rgba(255, 255, 255, 0.5); padding: 20px 50px 5px 50px; }
.contact .form-horizontal .input-group .input-group-addon { border-radius: 0; height: 50px; background: #419ad5; border: 1px solid #419ad5; color: #fff; }
.contact .form-horizontal .input-group input { border-radius: 0; border: 1px solid #419ad5; height: 50px; }
.contact .form-horizontal textarea { border-radius: 0; border: 1px solid #419ad5; }
.contact .form-horizontal .blue-btn { height: 50px; margin-top: 20px; }
.contact .main-contact-details { margin-top: 60px; font-size: 16px; background: #fafafa; margin-bottom: 50px; padding: 50px; border: 1px solid #419ad5; }
.contact .main-contact-details h4 { font-size: 24px; color: #419ad5; margin-bottom: 20px; }
.contact .main-contact-details li { line-height: 24px; }
.contact .main-contact-details li a { color: #666666; }
.contact .main-contact-details .social-icon a { margin-right: 25px; color: #419ad5; font-size: 24px; }

/*-------------------------- termcondition page --------------------------------------*/
.termcondition h1 { text-align: left; font-family: 'prodduct-regular'; color: #000; font-size: 36px; margin-top: 50px; margin-bottom: 20px; }
.termcondition ol { margin-bottom: 50px; }

/*-------------------------- 404 page --------------------------------------*/
.errorpage h1 { text-align: left; font-family: 'prodduct-regular'; color: #000; font-size: 36px; margin-top: 50px; margin-bottom: 20px; }
.errorpage h2 { font-size: 36px; }
.errorpage p { margin-top: 20px; font-size: 16px; }

/*-------------------------- quote page --------------------------------------*/
.main-quote .quote { background: url(../images/quote.jpg) no-repeat; background-size: contain; text-align: center; height: 330px; margin-top: -50px; }
.main-quote h1 { position: absolute; top: 40%; left: 40%; }
.main-quote h2 { font-size: 28px; color: #419ad5; text-transform: uppercase; text-align: center; padding: 50px; }
.main-quote .quote-form-banner { background-color: rgba(245, 245, 245, 0.8); height: auto; }
.main-quote .quote-form-banner .form-banner { background: #fff; padding: 20px; }
.main-quote .quote-form-banner iframe { border: 1px solid #419ad5; }
.main-quote .quote-form-banner .input-group-addon { background: #419ad5; }
.main-quote .quote-form-banner .input-group-addon .flaticon-placeholder { margin-left: -20px; color: #fff; }

/*-------------------------- vechicle selection page --------------------------------------*/
.vechicle-selection, .quote-confirmation { background: #fbfbfb; }
.vechicle-selection h1, .quote-confirmation h1 { position: absolute; top: 40%; left: 23%; }
.vechicle-selection .heading, .quote-confirmation .heading { left: 20%; }
.vechicle-selection fieldset, .quote-confirmation fieldset { background: transparent; }
.vechicle-selection fieldset legend, .quote-confirmation fieldset legend { background: #fff; color: #419ad5; }
.vechicle-selection fieldset .journey-info, .quote-confirmation fieldset .journey-info { background: #fff; padding: 10px; }
.vechicle-selection fieldset .journey-info h4, .quote-confirmation fieldset .journey-info h4 { font-size: 18px; color: #419ad5; margin-bottom: 10px; text-align: center; text-transform: uppercase; }
.vechicle-selection fieldset .journey-info li, .quote-confirmation fieldset .journey-info li { border-bottom: 1px solid #419ad5; padding: 5px 10px; margin: 10px 0; background: #fff; }
.vechicle-selection fieldset .journey-info li:last-child, .quote-confirmation fieldset .journey-info li:last-child { border-bottom: none; }
.vechicle-selection fieldset .journey-info li p, .quote-confirmation fieldset .journey-info li p { font-size: 16px; }
.vechicle-selection fieldset .journey-info li .fa, .quote-confirmation fieldset .journey-info li .fa { font-size: 18px; color: #419ad5; margin-right: 10px; }
.vechicle-selection fieldset .journey-info li a, .quote-confirmation fieldset .journey-info li a { font-size: 17px; color: #000; }
.vechicle-selection fieldset .journey-info li a:hover, .vechicle-selection fieldset .journey-info li a:focus, .vechicle-selection fieldset .journey-info li a:active, .quote-confirmation fieldset .journey-info li a:hover, .quote-confirmation fieldset .journey-info li a:focus, .quote-confirmation fieldset .journey-info li a:active { color: #419ad5; }
.vechicle-selection fieldset .car-details, .quote-confirmation fieldset .car-details { background: #fff; padding: 20px 20px 0 10px; margin-bottom: 20px; }
.vechicle-selection fieldset .car-details h3, .quote-confirmation fieldset .car-details h3 { margin-bottom: 10px; font-size: 18px; color: #419ad5; }
.vechicle-selection fieldset .car-details .form-inline .price, .quote-confirmation fieldset .car-details .form-inline .price { margin: 10px 0; font-size: 24px; color: #419ad5; }
.vechicle-selection fieldset .car-details .form-inline .blue-btn, .quote-confirmation fieldset .car-details .form-inline .blue-btn { padding: 10px 10px; margin: 0; }
.vechicle-selection .quote-confirm, .quote-confirmation .quote-confirm { background: url(../images/quote.jpg) no-repeat; background-size: contain; text-align: center; height: 330px; margin-top: -50px; }
.vechicle-selection .booking-details, .quote-confirmation .booking-details { background: #fff; padding: 10px 20px; }
.vechicle-selection .booking-details > h1, .quote-confirmation .booking-details > h1 { position: absolute; left: 20%; top: 40%; }
.vechicle-selection .booking-details legend, .quote-confirmation .booking-details legend { background: transparent; border: 0; text-align: center; color: #000; margin-bottom: 30px; margin-top: 30px; }
.vechicle-selection .booking-details legend:first-child, .quote-confirmation .booking-details legend:first-child { margin-top: 10px; }
.vechicle-selection .booking-details .input-group, .quote-confirmation .booking-details .input-group { margin-bottom: 25px; }
.vechicle-selection .booking-details .input-group-addon, .quote-confirmation .booking-details .input-group-addon { border-radius: 0; border-color: #419ad5; color: #fff; background: #419ad5; }
.vechicle-selection .booking-details input, .vechicle-selection .booking-details select, .quote-confirmation .booking-details input, .quote-confirmation .booking-details select { border-color: #419ad5; height: 45px; border-radius: 0; }
.vechicle-selection .booking-details textarea, .quote-confirmation .booking-details textarea { margin-top: 10px; border-color: #419ad5; border-radius: 0; }
.vechicle-selection .booking-details .checkbox-inline > input, .quote-confirmation .booking-details .checkbox-inline > input { height: auto; }

/*# sourceMappingURL=master.css.map */
label.error {
    display: none !important;
}

input.error, textarea.error, select.error {
    border-color: red!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background-color: #f2dede !important;
}

input.error[type="checkbox"], input.error[type="radio"] {
    -webkit-box-shadow: inset 12px 2px 2px rgba(255, 0, 0, 0.25);
    box-shadow: inset 12px 2px 2px rgba(255, 0, 0, 0.25);
}
.error{
    color: red;
    font-style: italic;
}