/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 18, 2017, 10:39:14 AM
    Author     : coredreams
*/




#spinner{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.47);
    color: #ffffff;
    position: absolute;
}
.spinner-wrap{
    position: relative;
}

label.error, .error {
    font-size: 13px;
    font-weight: normal;
    color: red;
}